body
{
	
}
svg {
  background-color: #003399;
  width:100%;
  height: 5px;
}
#sect_der {
	float:right;	
	
	width: 25%;
	text-align: center;
} 
#sect_izq {
	
	width: 75%;

    text-align: center;
} 
h1{
	padding: 20px;
	text-align: left;
}

h3{
	padding: 20px;
	text-align: left;
}
p{
	padding-left: 30px;
	text-align: left;
}
ol {
    text-align: left;
    
}
ul {
    text-align: left;
    list-style: none;
}
h2 {
    text-align: left;
}
#barra_negra {
    width: 90%;
   text-align: center;
    background-color: black;
    
}

